*.txt
/target/*
target/
*.html
*.png
*.xml
*.class
/POMReports/
/test-output/
/logs/*
/target/classes/com/seleniu/fb/pages/session/LandingPage.class
target/test-classes/com/seleniu/fb/test/testcases/LoginTest.class
