<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DataDrivenFramework">
  <test thread-count="1" name="POMwithPageFactory">
    <classes>
    
      <!-- - class name="com.seleniu.fb.test.testcases.LoginTest"/> -->
      
      
         <class name="com.seleniu.fb.test.testcases.LoginTest"/>
         <class name="com.seleniu.fb.test.testcases.ProfileTest"/>
   		 <class name="com.seleniu.fb.test.testcases.TopMenuTest"/>
   
    </classes>
  </test> <!-- HardAssertTests -->
</suite> <!-- AssertPractice -->
